* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: sans-serif;
  color: #111;
  background: white;
}

.navbar {
    position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.navbar .logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar .logo span {
  font-size: 1rem;
  margin-left: 8px;
  color: #333;
}

.navbar nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

/* hide hamhurger in pc */
.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.checkout-container {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.section {
  margin-bottom: 3rem;
}

h2 {
  color: #ff5436;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form input {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.primary-btn {
  padding: 0.7rem 1.5rem;
  background-color: #2c3f50;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}

.secondary-btn {
  padding: 0.7rem 1.5rem;
  background-color: white;
  color: #2c3f50;
  border: 2px solid #2c3f50;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
}

.payment-options {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.tab {
  flex: 1;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
}

.tab.active {
  background-color: #f6b827;
  color: #fff;
  border-color: #f6b827;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-card {
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 1rem;
  max-width: 300px;
}

.product-card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.action-group {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

@media (max-width: 420px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }


    .hamburger {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
  }

  nav.show {
    display: flex;
  }

  .checkout-container {
    padding: 1rem;
  }

  .payment-options {
    flex-direction: column;
  }

  .tab {
    width: 100%;
  }

  .product-card {
    width: 100%;
    max-width: 100%;
  }
}
