* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: sans-serif;
  color: #111;
  background: white;
}

.header {
     position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.logo span {
  font-size: 1rem;
  margin-left: 8px;
  color: #333;
}

.nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

/* hide hamhurger in pc */
.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  max-width: 45%;
}


.hero-text h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero-text p {
  margin-bottom: 20px;
  font-size: 14px;
}

.hero-text button {
  padding: 10px 30px;
  background: #FFE129;
  color: white;
  border: none;
    border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.hero-text button:hover {
  background-color: #F68227;
}

.hero-image img {
  max-width: 400px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.whypennyjuice {
  text-align: center;
  padding: 100px;
}

.whypennyjuice h2 {
  font-size: 20px;
  margin-bottom: 60px;
}

.reason-list {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.ingredient img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 10px;
}

.reason-list p {
  font-weight: bold;
}

.products {
  padding: 40px;
  text-align: center;
}

.products h2 {
  font-size: 20px;
  margin-bottom: 20px;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 2rem;  
  padding: 2rem;
  justify-items: center;
}

.product-card {
border: 1px solid #eee;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  background: #fafafa;
}

.product-card img {
  width: 80%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.product-card .label {
  font-weight: bold;
}


footer {
  display: flex;
  justify-content: center;    
  align-items: center;        
  gap: 40px;                  
  padding: 20px;
  color: #333;
  flex-wrap: wrap;            
}

footer p {
  margin: 0;
}

@media (max-width: 420px) {
  .hearder {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
  }

  .header nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .header nav a {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }

    .hamburger {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .header nav {
    display: none;
  }

  .header nav.show {
    display: flex;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 30px 20px;
  }

  .hero-text {
    max-width: 100%;
  }

  .hero-image img {
    max-width: 100%;
    margin-top: 20px;
  }

  .whypennyjuice {
    padding: 60px 60px;
  }

  .reason-list {
    gap: 30px;
  }

  .product-grid {
    grid-template-columns: 1fr;  
    padding: 1rem;
    gap: 1rem;
  }

  footer {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}